html, body {
    height: 100%;
}

body {
    padding-top: 60px;
}

.jam, .user {
    min-height: 65px;
    padding: 8px 8px;
    border-bottom: 1px solid lightgray;
    font-size: 8pt;
    line-height: 1.5em;

    &:hover { 
        cursor: pointer; 
        background: #fafafa;
    }

    &.playing {
        background: #fafafa;
    }

    .row-fluid [class*="span"] {
        min-height: 1.5em;
    }

    .description {
        max-height: 3em;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    p {
        margin: 0;
    }

    p.name {
       margin-top: 5px;
    }
}

#player {
	height: 520px;
	margin-bottom: 20px;
}

#sidebar, #userlist {
	max-height: 85vh;
	overflow: auto;
    margin-bottom: 20px;
    border: 1px solid lightgray;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    background-color: #f2f2f2;

}

.popover {
    z-index: 1040;

    .popover-title, .popover-content {
        font-size: 10pt;
    }
}

