<template name="sidebar">
  {{#each jams}}
    {{> jam}}
  {{/each}}
</template>

<template name="jam">
  <div class="row-fluid">
    <div class="jam {{is_playing}} span12" data-trigger="hover" data-title=".popover .title" data-content=".popover .content">

      <div class="row-fluid">
        <div class="span10">
          {{#if is_playing}}
            <i class="icon-play"></i>
          {{/if}}
          <strong class="name">{{name}}</strong>
          <div class="description">{{message}}</div>
        </div>
        <div class="span2 pull-right">
          <img src="{{picture}}" class="img-rounded">
        </div>
      </div>

      <div class="row-fluid">
        <div class="span4 offset8">
          <p class="name text-right">{{from.name}}</p>
        </div>
      </div>

      <div class="popover hidden">
        <div class="title">
          <strong>{{name}}</strong>
          <img class="pull-right" src="{{source_icon}}" width="20" height="20">
        </div>
        <div class="content">
          <p>{{message}}</p>
          <div class="text-center">
            <img src="{{picture}}">
          </div>
          <p>{{description}}</p>
        </div>
      </div>

    </div>
  </div>
</template>

