<template name="userlist">
  {{#each users}}
    {{> user}}
  {{/each}}
</template>

<template name="user">
  <div class="row-fluid">
    <div class="user span12">

      <div class="row-fluid">
        <div class="span2 pull-right">
          <img src="{{picture}}" class="img-rounded">
        </div>
        <div class="span8 pull-left">
          <strong class="name">{{name}}</strong>
          <p class="last_seen">online: {{last_seen}}</p>
          <p class="now_playing">playing: {{now_playing.name}}</p>
        </div>
      </div>

    </div>
  </div>
</template>
